html {
    /* document fills entire screen height */
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;

    /* override browser stylesheet and get rid off scroll bars */
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    
    /* slightly faded white */
    color: #ddd; 

    /* center elements in page */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsiveness */
@media (max-width: 480px) {
    body {
        font-size: 2rem;
    }
}
